/*General*/
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*Navbar*/
li {
    padding-right: 6%;
}

.navbar-nav {
    padding-left: 0;
    margin-left: 30%;
}

.nav-item .nav-link {
    color: rgb(27, 26, 26);
}

.navbar-toggler-icon {
    background-image: url(https://cdn2.iconfinder.com/data/icons/4web-3/139/menu-512.png);
}

.text-nav {
    width: 100%;
    color: rgb(27, 26, 26);
    text-decoration: none;
    font-weight: bold;
}

.pay {
    color: rgb(27, 26, 26);
    text-decoration: none;
    font-weight: bold;
    border:0;
    background-color: white;
}

.pay:hover {
    color: #666666;
}

/**For Media Query** not Desktop but mobile **/
.two-product {
    display: none;
}

.button-shop {
    border:0;
    background-color: white;
}

/*Modal for button (2) with lock*/
.block {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.small-descript {
    width: 100%;
}

.small-product {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-bottom: 1px;
}

span.one {
    color: rgb(138, 138, 138);
    font-weight: 400;
    padding-left: 5px;
    font-size: 10px;
}

.small-name {
    color: #b4b4b4;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 1px;
}

.small-price {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 1px;
}

.small-contain-cross {
    width: 30px;
    height: 30px;
}

.small-cross-del {
    width: 10px;
    height: 10px;
}

.small-line {
    color: gray;
}

.total-small,
.price-small {
    color: #aaaaaa;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 500;
}

.btn-view,
.btn-checkout {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.btn-view:hover,
.btn-checkout:hover {
    box-shadow: 2px 4px 10px rgb(253, 253, 253), 0 0 3px rgb(28, 217, 250), 0 0 5px rgb(100, 233, 243);
    border: none;
}

.btn-view {
    background-color: white;
    margin-right: 10px;
}

.btn-checkout {
    color: white;
    background-color: black;
}

/*Content*/
.text-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.second-text {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.02em;
}

.name {
    color: #777775;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.price {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #979797;
    font-weight: bold;
}

.text-product {
    font-size: 15px;
    color: #242424;
    font-weight: 400;
    margin: 0 10px;
}

.quantity {
    width: 50px;
    height: 55px;
    background-color: #f5f3f4;
    border: none;
}

.plus {
    width: 26px;
    height: 27px;
    background-color: #d3d3d3;
    border: none;
}

.minus {
    width: 26px;
    height: 27px;
    margin-top: 1px;
    background-color: #d3d3d3;
    border: none;
}

.btn-check-shop {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #0b090a;
    color: #f4f7f7;
    border: none;
    padding: 10px 20px;
}

.link-shop-cart {
    text-decoration: none !important;
    color: white!important;
}


/** for the input number : target disappeared **/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*Media Query*/
@media only screen and (max-width: 990px) {

    li {
        padding-right: 0px;
    }

    .text-nav {
        background-color: white;
    }

    .pay {
        display: none;
    }

    .two-product {
        text-decoration: none;
        color: rgb(27, 26, 26);
        display: flex;
        font-size: 11px;
        font-weight: bold;
        border-bottom: 1px solid rgb(27, 26, 26);
    }

}
